@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Todo List</h1>
</div>

<h1>You added the <a href="/category/@Model.GetId()">@Model.GetName()</a> category!</h1>
<a href="/"><button type="button" class="btn btn-info">Category List</button></a>
