@{
  Layout = "_Layout";
}

<h3>You create the task: @Model["task"].GetDescription()!</h3>

<a href="/category/@Model["category"].GetId()"><button type="button" class="btn btn-info">Back</button></a>
